<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto de Educación Superior Nuevo Horizonte</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }

        header {
            background-color: #007bff;
            padding: 10px 0;
            color: white;
        }

        nav a {
            color: white;
            margin: 0 10px;
        }

        main {
            padding: 20px;
        }
    </style>
</head>

<body>

    <header class="fixed-top">
        <div class="container">

            <h1> <u>INSTITUTO DE EDUCACION "NUEVO HORIZONTE"</u></h1>
           
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <a class="btn btn-danger btn-lg"  href="http://localhost:8080/"> INICIO </a>
                <a class="btn btn-danger btn-lg" href="http://localhost:8080/form"> ALUMNOS </a>
                <a class="btn btn-danger btn-lg" href="http://localhost:8080/date"> DATOS ALUMNOS </a>
           </nav>
        </div>
    </header>

    <main>

        <br>
        <br>

        <br>

        <br>

        <h2>Datos del Alumno</h2>

        <div class="container">
           

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dirección</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Teléfono</th>
                        <th>DNI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>

    </footer>

</body>

</html>