<!DOCTYPE html>

<html lang="es">

<head>



</head>

<body>

    <header>
       
        <h1> <u>INSTITUTO DE EDUCACION "NUEVO HORIZONTE"</u></h1>
        <img src="/img/inst.jpg">

        <nav>
            <a href="http://localhost:8080/"> INICIO </a>
            <a href="http://localhost:8080/form"> ALUMNOS </a>
            <a href="#"> DATOS ALUMNOS </a>
       </nav>

    </header>

    <main>
   


    </main>


    <footer>


    </footer>

</body>


</html>